<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448352345052-l3lnee32uptkm5lf8p3gervo68lqdg91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448352345052-l3lnee32uptkm5lf8p3gervo68lqdg91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448352345052-rftqlimrm3sj2r05in0891ss40veuv7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwHYogsTra5lsJR0Zg3MLz0m__Bjyz9AI</string>
	<key>GCM_SENDER_ID</key>
	<string>448352345052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klab.fishfight</string>
	<key>PROJECT_ID</key>
	<string>project-parallel-dev-37348216</string>
	<key>STORAGE_BUCKET</key>
	<string>project-parallel-dev-37348216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448352345052:ios:5cdf47fd52aa8075</string>
	<key>DATABASE_URL</key>
	<string>https://project-parallel-dev-37348216.firebaseio.com</string>
</dict>
</plist>